body {
  background-image: linear-gradient(0deg, rgba(230,230,230, 0.9) 10%, rgba(46,46,46,0) 80%), url("https://unsplash.it/2000/2000?image=1053");
  font-family: "Open Sans Condensed", sans-serif;
  color: #672D63;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  color:rgba(82, 64, 49, 0.9);
  font-family: "Raleway", sans-serif;
}

a {
  color: rgba(102, 140, 122, 0.8);
  text-decoration: none;


}

a:hover {
  color: rgba(113, 103, 86, 0.8);
}

div {
  display: block;
}

.container {
  width: 600px;
  margin: 30px auto;
}

.card-white {
  background-color: white;
  margin: 20px auto;
  position: relative;
  padding: 15px 30px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.1);
  border-radius: 3px;
}

img {
  border-radius: 2px;
  margin: 5px;
}

.img-circle {
  border-radius: 50%;
}

.text-center{
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.btn-med {
  border-radius: 20px;
  border: 1px solid grey;
  opacity:0.6;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: grey;
  padding: 10px 50px;
}

.btn-med:hover {
  text-decoration: none;
  color: grey;
  opacity: 1.0;
}

.bottom-padding-more {
  padding-bottom: 30px;
}
/* Here goes your CSS */

#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(140deg, rgba(30,30,30, 0.8) 10%, rgba(46,46,46,0) 80%), url("https://unsplash.it/200/1000?image=1061");
}

#content {
  margin-left: 100px;
}

#sidebar > ul > li > a > i {
  list-style: none;
  padding: 10px 30px 10px 0px;
  font-size: 30px;
}
